<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="60">
    <div fxLayout="column" fxLayoutAlign="space-evenly stretch">
      <mat-toolbar color="primary">Listado de Cursos</mat-toolbar>
      <button (click)="toModule(1)" mat-raised-button>Módulo 1: Sintaxis y conocimientos básicos</button>
      <!-- <button (click)="toModule(2)" mat-raised-button>Módulo 2: Herramientas básicas (Selecciones y bucles)</button> -->
    </div>
    <div fxLayout="column" fxLayoutAlign=" end">
      <button (click)="toLogin()" fxLayoutAlign=" end" mat-raised-button color="warn">Log Out</button>
    </div>
  </mat-card>
</div>
